aiohttp==3.8.5
aiosignal==1.3.1
async-timeout==4.0.3
attrs==23.1.0
certifi==2022.12.7
charset-normalizer==3.2.0
discord.py==2.3.1
docopt==0.6.2
frozendict==2.3.8
frozenlist==1.4.0
idna==3.4
multidict==6.0.4
mysql-connector-python==8.0.33
numpy==1.25.1
protobuf==3.20.3
python-dateutil==2.8.2
python-dotenv==1.0.0
requests==2.31.0
rlink-client @ git+https://github.com/librematch/librematch-rlink_client@843df230c68e241ea31c2196d511af9273a81f77#subdirectory=rlink_client_python
six==1.16.0
typing_extensions==4.7.1
urllib3==1.26.16
yarg==0.1.9
yarl==1.9.2
